html
    head
        link(href='css/style.css', rel='stylesheet', type='text/css')
    body
        h1="Update your profile!"
        form(action='/profileupdate', method='Post')
            div(id="usernameInputDiv")
                label(id="logintext")="Full name:"
                input(type='text', name='fullname', value=user.fullname)
            div(id="usernameInputDiv")
                label(id="logintext")="Username:"
                input(type='text', name='username', value=user.username)
            div(id="usernameInputDiv")
                label(id="logintext")='Email:'
                input(type='email', name='email', value=user.email)
            div(id="usernameInputDiv")
                label(id="logintext")='Age:'
                input(type='number', name='age', value=user.age)
            div(id="usernameInputDiv")
                label(id="logintext")='Password:'
                input(type='password', name='password')
            div
                div
                    span(id="logintext2")="What is the best color of these options?"
                    br
                    div
                        input(type='radio', name='question1', value='Yellow' checked)
                        label(id="logintext")='Yellow'
                        br
                    div
                        input(type='radio', name='question1', value='Red' )
                        label(id="logintext")='Red'
                        br
                    div
                        input(type='radio', name='question1', value='Blue' )
                        label(id="logintext")='Blue'
                        br
                    div
                        input(type='radio', name='question1', value='Green' )
                        label(id="logintext")='Green'
                        br
            div
                div
                    span(id="logintext2")='What do you think of the new Tesla truck?'
                    br
                    div
                        input(type='radio', name='question2', value='Love it!' checked)
                        label(id="logintext")='Love it!'
                        br
                    div
                        input(type='radio', name='question2', value='Hate it!' )
                        label(id="logintext")='Hate it!'
                        br
                    div
                        input(type='radio', name='question2', value='Triangle' )
                        label(id="logintext")='Triangle'
                        br
                    div
                        input(type='radio', name='question2', value='Not sure' )
                        label(id="logintext")='Not sure'
                        br
            div
                div
                    span(id="logintext2")='What is your favorite food?'
                    br
                    div
                        input(type='radio', name='question3', value='Pizza' checked)
                        label(id="logintext")='Pizza'
                        br
                    div
                        input(type='radio', name='question3', value='Hamburger' )
                        label(id="logintext")='Hamburger'
                        br
                    div
                        input(type='radio', name='question3', value='Chicken' )
                        label(id="logintext")='Chicken'
                        br
                    div
                        input(type='radio', name='question3', value='Salad' )
                        label(id="logintext")='Salad'
                        br
            input(type="submit", value="Update Profile!", id="loginButton")