html
    head
        link(href='css/style.css', rel='stylesheet', type='text/css')
    body
        nav(class='navBar')
        h1="Register an account!"
        form(action='/register', method='POST')
            div
                label="Full name"
                input(type='text', name='fullname')
            div
                label="Username"
                input(type='text', name='username')
            div
                label='Email'
                input(type='email', name='email')
            div
                label='Age'
                input(type='number', name='age')
            div
                label='Password'
                input(type='password', name='password')
            
            div
                div
                    span="What is the best color of these options?"
                    br
                    div
                        input(type='radio', name='question1', value='Yellow' checked)
                        label='Yellow'
                        br
                    div
                        input(type='radio', name='question1', value='Red' )
                        label='Red'
                        br
                    div
                        input(type='radio', name='question1', value='Blue' )
                        label='Blue'
                        br
                    div
                        input(type='radio', name='question1', value='Green' )
                        label='Green'
                        br
            div
                div
                    span='What do you think of the new Tesla truck?'
                    br
                    div
                        input(type='radio', name='question2', value='Love it!' checked)
                        label='Love it!'
                        br
                    div
                        input(type='radio', name='question2', value='Hate it!' )
                        label='Hate it!'
                        br
                    div
                        input(type='radio', name='question2', value='Triangle' )
                        label='Triangle'
                        br
                    div
                        input(type='radio', name='question2', value='Not sure' )
                        label='Not sure'
                        br
            div
                div
                    span='What is your favorite food?'
                    br
                    div
                        input(type='radio', name='question3', value='Pizza' checked)
                        label='Pizza'
                        br
                    div
                        input(type='radio', name='question3', value='Hamburger' )
                        label='Hamburger'
                        br
                    div
                        input(type='radio', name='question3', value='Chicken' )
                        label='Chicken'
                        br
                    div
                        input(type='radio', name='question3', value='Salad' )
                        label='Salad'
                        br
            input(type="submit", value="Register account!")
            
