html
    head
        title=title
        link(href='/css/style.css', rel='stylesheet', type='text/css')
    body
        div(class='navBarDiv')
            nav(class='navBar')
                a(href="/home" id="menuItem")='Home'
                a(href="/Logout" id="menuItem")="Logout"
                if role == "admin"
                    a(id="menuItem" href="/admin") Admin Page
        div(class="adminWelcomeDiv")
            h1(class='adminWelcome')='Welcome to your profile, ' + user.fullname
        div(class="userSettingDiv")
            div(class="userSetting")
                h3="Your full name: " + user.fullname
            div(class="userSetting")
                h3="Your age: " + user.age
            div(class="userSetting")
                h3="Your username: " + user.username
            div(class="userSetting")
                h3="Your role: " + user.role
            div(class="userSetting")
                h3="Your email: " + user.email
            div(class="userSetting")
                h3="Your answer to 'What is the best color of these options?': " +user.q1
            div(class="userSetting")
                h3="Your answer to 'What do you think of the new Tesla truck?': " + user.q2
            div(class="userSetting")
                h3="Your answer to 'What is your favorite food?': " + user.q3
            div(id="registerButton")
                a(href='/profileupdate/' + user._id)="Update your profile"
        //- form(action='/userpage', method='Post')
        //-     div
        //-         label="Your full name: "+user.fullname
        //-         input(type='text', name='fullname')
        //-     input(type='submit', value='Update Profile')
//- Hide the login link and show the logout link instead
//- When a user is logged in, show a link to the user's profile in your navigation
//- On the profile page the user should be able to edit/update their user information,
//- including their answers to the questions they answered when they registered.
//- Their previous information and choices should be pre-populated in your form when they choose to edit.